@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial";
    cursor: url(../img/cursor.cur),default;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: url(../img/tik.cur),default;
    text-decoration: none;
}
svg {
    fill: #fd8300;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: block;
    text-transform: uppercase;
}

hr {
    border-color: #e4e4ec;
    border-top: none;
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
    gap: 11px;
}

.flex_betwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

header {
padding: 16px 0;
    background-color: #1f1f56;
    align-items: center;
}
header svg {
    fill: #fff;
}
.he:hover  {
    fill: #fd8300;
}
header a  {
     color: #b1b1d2;
}

.rizne:hover {
    color: #fd8300;
}

.forhover:hover a {
    color:#fd8300;
}
 
.nav {
    gap: 30px;
}
.progu  {
    gap: 26px;
}

.wrapper {
     margin: 0 auto;
     max-width: 960px;
}

.head {
    padding-top: 29px;
    padding-bottom: 29px;
}

.head a  {
    color: #25252c;
}

.contaktu a {
    line-height: 25px;
       color: #25252c;
}

.contaktu svg {
    padding-right: 10px;
}

.vids {
    padding-left: 32px;
}

.mail a {
    line-height: 25px;
     color: #25252c;
}

.mail svg {
    padding-right: 1px;
}
.button a {
    padding: 14px 27px ;
    text-align: center;
    display: inline-block;
    color: #25252c;
    border-radius: 25px;
    border: 2px solid #fd8300;
}

.button:hover a{
    color: #fd8300;
}

section {
    padding-top: 58px;
    padding-bottom: 58px;
    background: url(../img/Rectangle.png) no-repeat center/cover;
    width: 100%;
    text-align: center;
}

section p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

.prize {
    display: inline-block;
    font-size: 40px;
    color: #fd8300;
    line-height: 56px;
}

.bloku {
    align-items: flex-start;
    padding-top:31px ;
}

article p {
    padding-bottom: 21px;
    width: 677px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.detail  {
    display: inline-block;
    padding-bottom: 34px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
}

.detail:hover {
    color: #1f1f56;
}

.zagolovok  {
    padding-bottom: 27px;
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.usproject {
    padding: 31px 0 26px ;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.nazva  {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
}

.nazva:hover  {
   text-decoration: underline;
}
.cartku  {
    gap: 17px;
    padding-bottom: 50px;
}
.cartku p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.sidebar  {
    align-items: flex-end;
    background-color: #e4e4ec;
      
}

.sidebar  {
    border-radius: 3px; 
    overflow: hidden;
}
.sidebar li {
    padding: 8px 27px;
    font-size: 14px;
    line-height: 29px;
    color: #25252c;
    box-shadow: inset 0px -1px 0px #cecedd;
}

.headsidebar {
    background-color: #1f1f56;
    }

.headsidebar b {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}

.orange:hover {
    color: #fff;
    background-color: #fd8300;
}
.orange:hover> .rad {
    display: block;
}

.rad {
    display: none;
}

.rad  li {
    color: #666666;
    background-color: #e4e4ec;
    box-shadow: none;
}

.lol:hover {
    background-color: #cecedd;
}

.mainfooter {
    align-items: flex-start;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #ededf5;
}

.info li a {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.infor:hover a {
    color: #fd8300;
    text-decoration: underline;
}

footer {
    padding: 13px ;
    background-color: #dcdce6;
    text-align: center;
}

footer {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}