@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 1px;
}

* {
    margin: 0;
    padding: 0;
}
body {
    position:relative;
    font-family: "Arial";
    cursor: url(../img/cursor.cur),default;
}

nav {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: url(../img/tik.cur),default;
}

.parent:hover{
    text-decoration: underline;
   transition: all 0.6s ease;
}

svg {
    fill: #fd8300;
}

h1 {
    display: block;
    font-size: 30rem;
    padding-bottom: 5rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

hr {
    border-color: #e4e4ec;
    border-top: none;
    
}

.flex {
    display: flex;
    align-items: center;
    gap: 11rem;
}

.flex_betwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexstart {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.border_top {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.border_bottom {
    border-bottom-left-radius: 3rem ;
    border-bottom-right-radius: 3rem;
}

header {
    position:sticky;
    top:0;
    width:100%;
    align-items: center;
    background-color: #1f1f56;
    z-index:5;
}

.navigaption {
    display: none;
}

 .navigaption {
    position: fixed;
    top: 20rem;
    right: 0;
    width: 50%;
    height: 1000%;
    padding-left: 15rem;
    background-color: #1f1f56;
}

header svg {
    fill: #fff;
}

.he:hover  {
    fill: #fd8300;
}

header li {
    padding: 8rem 0;
}

header a:hover {
  color: #fd8300;
}

.navigaption::before {
    content: '';
    position: relative;
    display: block;
    top: 170rem;
    left: 1rem;
    width: 100%;
    height: 30rem;
}

.burgercanel {
    position: absolute;
    top: -9rem;
    right: 20rem;
}

.contacts {
    flex-direction: row;
}

header a  {
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 24rem;
     color: #b1b1d2;
     z-index: 6;
}

.buttonn:hover a {
    color: #fd8300;
    transition: all 0.6s ease;
}


.header_menu_li:hover a {
    color:#fd8300;
    transition: all 0.6s ease;
}
 

.main {
    flex-direction: column;
}

.radok,.radokvrad {
    display: none;
}

.navigaption:hover .radok {
    display: block;
    position: static;
    top: 10rem;
    margin-top: 10rem;

}

.budka:hover .radokvrad {
    display: block;
}

.radok {
    position: absolute;
    width: 100%;
    top: 60rem;
    z-index: 3;
}

.radok a {
    display: block;
}
.orang {
    padding: 3rem 25rem 3rem 9rem;
    background-color: #e4e4ec;
    transition: all 0.6s ease;
}

.orang a {
    position: relative;
    color: #25252c;
}

.orang a::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -9rem;
    display: block;
    width: 6rem;
    height: 6rem;
    border-top: 1rem solid #666666;
    border-right: 1rem solid #666666;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.6s ease;
}

.before ::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100rem;
    width: 40rem;
    height: 30rem;
    z-index: 4;
}


.orang:hover {
    background-color: #fd8300;
}

.orang:hover a {
    color: #fff;
}

.radokvrad {
    position: static;
    top: 93rem;
    right: -130rem;
    border-radius: 3rem;
    z-index: 3;
}

.lollol {
    padding: 2rem 20rem 2rem 10rem;
    background-color: #e4e4ec;
}

.lollol p {
    font-size: 12rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #25252c;
}

.lollol:hover {
    background-color: #fd8300;
    transition: all 0.2s ease;
}


.lollol:hover p {
   color: #ffffff;
    transition: all 0.2s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20rem;
}

.list  {
    gap: 26rem;
}

.wrapper {
     margin: 0 auto;
     padding: 9rem ;
     max-width: 960rem;
}

.head {
    position: relative;
    flex-direction: column;
    padding-top: 29rem;
    padding-bottom: 29rem;
    z-index: 3; 
    gap: 25rem  ;
}

.head a  {
    color: #25252c;
}

.box {
    position: absolute;
    top: 195rem;
    width: 100%;
    height: .6rem;
    box-shadow:0 0 5rem 0rem rgba(0,0,0,0.1);
    z-index: 2;
}

.contaktu a {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
}

.telll {
    display: flex;
    flex-direction: column;
}

.mail a {
    font-size: 16rem;
    line-height: 25rem;
     color: #25252c;
}

.mail svg {
    padding-right: 1rem;
}

.underline:hover  {
    text-decoration:underline;
}

.button {
    width: 100%;
}

.button a {
    display: inline-block;
    width: 100%;
    font-size: 16rem;
    padding: 14rem 20rem ;
    text-align: center;
    color: #25252c;
    border-radius: 25rem;
    border: 2rem solid #fd8300;
    box-sizing: border-box;
}

.button:hover a{
    color: #fd8300;
    transition: all 0.6s ease;
}

.contacts h2 {
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
}

#darck, #popup {
    display: none;
}

#darck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 28rem;
    border-radius: 5rem;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#popup h2 {
    font-size: 24rem;
    line-height: 24rem;
    padding-bottom: 19rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.popup_input1, .popup_input2 {
    width: 300rem;
    height: 40rem;
    margin-bottom: 10rem;
}

#popup button {
    display: inline-block;
    width: 100%;
    font-size: 16rem;
    padding: 14rem 27rem ;
    text-align: center;
    color: #fff;
    background-color: #fd8300;
    border: none;
    border-radius: 22px;
    box-sizing: border-box;
}
#canel svg {
    position: absolute;
    left: 90%;
    top: 10%;
    fill: #a5a7a8;
    cursor: url(../img/tik.cur),default;
}
.section {
    padding-top: 58rem;
    padding-bottom: 58rem;
    background: url(../img/Rectangle.webp) no-repeat center/cover;
    width: 100%;
    text-align: center;
}

section p {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
}

.prize {
    font-size: 40rem;
    line-height: 24rem;
    padding-top: 4rem;
    color: #fd8300;
    font-weight: bold;
}

.prize sup  {
    font-size: 18rem;
}

.bloku {
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    padding-top:31rem ;
}

article {
    padding-bottom: 34rem;
}

.article_contact {
    display: flex;
    align-items: flex-start;
    gap: 100rem;
}

article li {
    padding-top: 5rem;
}

article p {
    font-size: 14rem;
    margin-bottom: 20rem;
    line-height: 24rem;
    color: #666666;
}

.detail  {
    display: inline-block;
    padding-top: 24rem;
    font-size: 14rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #fd8300;
}

.detail:hover {
    color: #1f1f56;
    transition: all 0.6s ease;
}

figure sup {
    font-size: 7rem;
}

.zagolovok  {
    padding-top: 20rem;
    padding-bottom: 27rem;
    font-size: 25rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.usproject {
    padding: 31rem 0 26rem ;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.nazva  {
    position: absolute;
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
}

.nazva:hover {
   text-decoration: underline;
   transition: all 0.6s ease;
}

.parent:hover>.nazva  {
   text-decoration: underline;
   transition: all 0.6s ease;
}

figure {
    position: relative;
}

figcaption a {
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    z-index: 1;
}

figcaption a:hover~.nazva {
    text-decoration: underline;
}

.cartku  {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50rem;
    gap: 23rem;
}

.cartku p {
    padding-top: 27rem;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

.sidebar  {
    position:static;
    width: 100%;
    border-radius: 2rem;
    top:73rem;
    z-index:2;
    align-items: flex-end;
}

.orange a {
    position: relative;
    display: block;
    padding: 10rem 15rem;
    background-color: #e4e4ec;
    font-size: 14rem;
    line-height: 24rem;
    color: #25252c;
}

.orange a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 14rem;
    display: block;
    width: 6rem;
    height: 6rem;
    border-top: 1rem solid #666666;
    border-right: 1rem solid #666666;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.6s ease;
}

li:hover >a:before {
    border-color: #ededf5;
    transform: translateY(-50%) rotate(135deg);
}

.headsidebar  {
    display: block;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 15rem;
    padding-right: 5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    font-size: 14rem;
    line-height: 29rem;
    background-color: #1f1f56;
    }

.headsidebar p {
    font-size: 16rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.orange:hover a {
    color: #fff;
    background-color: #fd8300;
    transition: all 0.6s ease;
}

.orange:hover> .rad {
    display: block;
}

.info1 li a {
   font-size: 14rem;
    line-height: 26rem;
    color: #666666;
}
.rad {
    display: none;
}

.rad  li {
    color: #666666;
    border-bottom:  #cecedd;
    background-color:  #e4e4ec;
    box-shadow: none;
}

[href="border"]{
     border-top:1rem solid #cecedd;
}

.lol {
    display: block;
    padding: 8rem 27rem;
    font-size: 14rem;
    line-height: 29rem;
}

.lol:hover {
    background-color: #cecedd;
    transition: all 0.6s ease;
}

.mainfooter {
    align-items: flex-start;
    padding-top: 41rem;
    padding-bottom: 30rem;
    background-color: #ededf5;
}

.flex_wrap {
    flex-direction: column;
    align-items: center;
    gap: 30rem;
}

 .info li a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666666;
}

.infor:hover a {
    color: #fd8300;
    text-decoration: underline;
    transition: all 0.6s ease;
}

footer {
    padding: 13rem ;
    background-color: #dcdce6;
    text-align: center;
}

footer {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

.table {
    padding: 27rem 0;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300rem;
}

table {
    width: 100%;
    border-radius: 3rem;
    overflow: hidden;
}

table, th,td {
    border: solid 0.5rem ;
    border-collapse: collapse;
}

th, td {
    font-size: 14px;
    line-height: 24px;
}
thead,th {
    padding: 8rem 20rem;
    color: #fff;
    border-color: #274569;
    background-color: #1f1f56;
}


.namme {
    text-align: start;
    padding-left: 10rem;
    padding-right: 10rem;
}

.columone {
    padding-left: 20rem;
}

.sell {
    text-align: end;
    
}

tbody,td  {
    padding: 11rem 2rem;
    text-align: center;
    border-color: #cecedd;
    color: #666666;
    background-color: #e4e4ec;
}

 tr:hover  td{
    color: #fff;
    background-color: #fd8300;
    transition: all 0.6s ease;
}

.category {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.comunicate {
    align-items: flex-start;
    padding-top: 36rem;
    gap: 28rem;
}

.map {
    position: relative;
    min-height: 331rem;
    min-width: 100%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: -72rem;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 371rem;
    border: none;
}

.forms h3{
    font-size: 14rem;
    line-height: 24rem;
    padding-bottom: 15rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.inputs {
    min-height: 221rem;
    box-sizing: content-box;
}

input {
    width: 100%;
    padding: 11rem;
    border-radius: 3rem;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1rem solid #c5c5d4;
}

.input1 , .input2 {
    max-width: 228rem;
    padding-bottom: 10rem;
}

.input3  {
    padding-bottom: 10rem;
}

.input4 {
    display: block;
    max-width: 442rem;
    height: 81rem;
    box-sizing: border-box;
}

.inputbutton input {
    width: 140rem;
    height: 41rem;
    border: none;
    border-radius: 21rem;
    color: #ffffff;
    background-color: #fd8300;
    cursor: url(../img/tik.cur),default;
}

.inputbutton input:hover{
    background-color: #4a00c0;
}


textarea {
    resize: vertical;
    width: 100%;
    height: 100%;
    padding: 11rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #c5c5d4;
}

.buttonscheck {
    align-items: center;
    gap: 30rem;
}

.real {
    display: none;
}

.custom {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 1rem solid #c5c5d4;
}

.custom::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15rem;
    height: 15rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url(../img/checkt.svg);
    background-size: contain;
}

.real:checked + .custom::before {
    transform: translate(-50%, -50%) scale(1);
}

.forms p {
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
}

@media screen  and (min-width: 480px){

.zagolovok {
    padding-top: 20rem;
    padding-bottom: 27rem;
    font-size: 15rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
}

@media screen  and (min-width: 550px){

    .head {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .button  {
        width: 200rem;
    }

    .flex_wrap {
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        gap: 20;
    }

    .zagolovok {
        padding-top: 20rem;
        padding-bottom: 27rem;
        font-size: 30rem;
        color: #24242b;
        font-weight: 700;
        font-family: "Roboto Slab";
}

    .head {
        justify-content: center;
    }

    .map {
        position: relative;
        min-height: 371rem;
        min-width: 376rem;
        overflow: hidden;
    }
}

@media screen  and (min-width: 768px){
    html {
        font-size: .9px;
    }
    

.bloku {
    flex-wrap: nowrap;
}

    .bloku {
        flex-direction: row;
    }
    
    .sidebar{
        position: sticky;
        width: 219px;
    }
}

@media screen  and (min-width: 834px){
    html {
        font-size: .9px;
    }

    .head {
        justify-content: space-between;
        
    }

    .table {
        max-height: 438rem;
    }

    .namme {
        text-align: start;
        padding-left: 20rem;
        padding-right: 100rem;
}

    tbody,td  {
        padding: 11rem 20rem;
        text-align: center;
        border-color: #cecedd;
        color: #666666;
        background-color: #e4e4ec;
    }

    .map {
        position: relative;
        min-height: 371rem;
        min-width: 466rem;
        overflow: hidden;
}
}

@media screen  and (min-width: 1024px){
    html {
        font-size: 1px;
    }
    .burgercanel {
        display: none;
    }

    .navigaption::before {
        content: '';
        position: absolute;
        top: 40rem;
        left: 40%;
        width: 30%;
        height: 30rem;
}

.navigaption:hover .radok  {
    position: absolute;
    top: 45rem;
}
     .navigaption {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 1000%;
        padding-left: 0;
        background-color: #1f1f56;
}
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10rem;
}

.burgercanel svg {
    position: absolute;
    top: -10rem;
    right: 20rem;
}
.navigaption::before {
    content: '';
    position: absolute;
    display: block;
    top: 40rem;
    left: 40%;
    width: 30%;
    height: 30rem;

}
.burger, .darck {
    display: none;
}
.radok {
    width: 155rem;
}
.radokvrad {
    position: absolute;
    top: 93rem;
    right: -130rem;
    border-radius: 3rem;
    z-index: 3;
}
    .cartku {
        justify-content: flex-start;
    }
}

@media screen  and (min-width: 1400px){
    html {
        font-size: 1.1px;
    }
}

@media screen  and (min-width: 1920px){
    html {
        font-size: 1.5px;
    }
}

@media screen  and (min-width: 2200px){
    html {
        font-size: 1.7px;
    }
}